<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
  <section class="hero">
    <section class="titles">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ÁREA DO CLIENTE</h1>
            <h2>Escolha abaixo qual informação deseja consultar ou editar.</h2>
          </div>
        </div>
      </div>
    </section>

    <%- include('../partials/admin/header-admin') -%>

  </section>

  <section class="admin-container admin-form-supplier">
    <form class="needs-validation" action="/admin/adicionarFornecedor" method="POST" novalidate>
      <div class="container card">
        
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h2>Adicionar Fornecedor</h2>
            <p>Insira abaixo os dados do novo forncedor.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <select id="planSelect" name="plan" class="form-control" required>
                  <option disabled selected>Escolha um Plano</option>
                  <option value="1">Parafuso</option>
                  <option value="2">Porca</option>
                  <option value="3">Porca e Parafuso</option>
              </select>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
                <select id="branchSelect" name="branch" class="form-control multi-select" title="Ramo de Atuação" data-selected-text-format="count > 3" data-size="5" data-actions-box="true"  data-dropup-auto="false" multiple required>
                    <option value="1">Usinagem</option>
                    <option value="2">Micro Usinagem</option>
                </select>
                <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <input type="text" id="name" name="name" class=form-control placeholder="Nome da Empresa" required>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
              <input type="text" id="document" name="document" class=form-control placeholder="CNPJ" required>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <input type="email" id="email" name="email" class=form-control placeholder="E-mail" required>
              <div class="invalid-feedback email-in-use">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
                <input type="tel" id="phone" name="phone" class=form-control placeholder="Telefone (Opcional)">
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <input type="tel" id="whatsapp" name="whatsapp" class=form-control placeholder="Whatsapp (Opcional)">
            </div>
          </div>

          <div class="col-12 col-md-6">
            <div class="form-group">
                <input type="password" id="password" name="password" class=form-control placeholder="Senha" required>
                <div class="invalid-feedback">Campo obrigatório</div>
            </div>                        
          </div>

          <div class="col-sm-12 col-md-6">
              <div class="form-group">
                <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirmar Senha" required>
                <div class="invalid-feedback confirm-password">A senha não é igual</div>
              </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center my-3">
            <h2>Localização</h2>
            <p>Insira abaixo os dados de endereço.</p>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="CEP" required>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-8">
            <div class="form-group">
              <input type="text" id="address" name="address" class="form-control" placeholder="Logradouro" required>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="number" id="Número" name="number" class="form-control" placeholder="Número" required>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="text" id="complement" name="complement" class="form-control" placeholder="Complemento">
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="text" id="district" name="district" class="form-control" placeholder="Bairro" required>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <select id="state" name="state" class="form-control" required>
                <option disabled selected>Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>

          <div class="col-sm-12 col-md-8">
            <div class="form-group">
              <input type="text" id="city" name="city" class="form-control" placeholder="Cidade">
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center my-3">
            <h2>Área de Atendimento</h2>
            <p>Insira abaixo a faixa de CEP atendida.</p>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <select id="stateArea" name="stateArea" class="form-control multi-select" title="Estados que atende" data-selected-text-format="count > 3" data-size="5" data-actions-box="true"  data-dropup-auto="false" multiple required>
                <option value="1">AC</option>
                <option value="2">AL</option>
                <option value="3">AP</option>
                <option value="4">AM</option>
                <option value="5">BA</option>
                <option value="6">CE</option>
                <option value="7">DF</option>
                <option value="8">ES</option>
                <option value="9">GO</option>
                <option value="10">MA</option>
                <option value="11">MT</option>
                <option value="12">MS</option>
                <option value="13">MG</option>
                <option value="14">PA</option>
                <option value="15">PB</option>
                <option value="16">PR</option>
                <option value="17">PE</option>
                <option value="18">PI</option>
                <option value="19">RJ</option>
                <option value="20">RN</option>
                <option value="21">RS</option>
                <option value="22">RO</option>
                <option value="23">RR</option>
                <option value="24">SC</option>
                <option value="25">SP</option>
                <option value="26">SE</option>
                <option value="27">TO</option>
              </select>
              <div class="invalid-feedback">Campo obrigatório</div>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 col-md-6">
            <a href="/admin/listarFornecedor" class="btn btn-solid btn-orange2"><i class="fas fa-arrow-left"></i> Voltar</a>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button type="submit" id="send" class="btn btn-solid btn-blue1"><i class="far fa-save"></i> Adicionar</button>
          </div>
        </div>
      </div>

      </div>
    </form>
  </section>
</main>

<%- include('../partials/footer') -%>

<script>
  utils.formValidation();
  utils.comparePasswords();
  utils.checkEmail('<%= usuarios %>');
</script>