<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
  <section class="hero">
    <section class="titles">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ÁREA DO CLIENTE</h1>
            <h2>Escolha abaixo qual informção deseja consultar ou editar.</h2>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="admin-container admin-form-supplier">
    <form class="needs-validation" novalidate>
      <div class="container card">
        
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h2>Editar Fornecedor: Nome</h2>
            <p>Insira abaixo os dados do novo forncedor.</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <select id="choosePlan" class="form-control" required>
                <option disabled selected>Escolha o Plano</option>
                <option value="parafuso">Plano Parafuso</option>
                <option value="porca">Plano Porca</option>
                <option value="porca-e-parafuso">Plano Porca e Parafuso</option>
              </select>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <select id="choosePlan" class="form-control" required>
                <option disabled selected>Escolha o Ramo</option>
                <option value="micro-usinagem">Micro Usinagem</option>
                <option value="usinagem">Usinagem</option>
              </select>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <input type="text" id="name" class="form-control" placeholder="Nome do Responsável" required>
            </div>
          </div>

          <div class="col-12">
            <div class="form-group">
              <input type="email" id="email" class="form-control" placeholder="E-mail" required>
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <input type="text" id="phone" class="form-control" placeholder="Telefone (Opcional)">
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <input type="text" id="whatsapp" class="form-control" placeholder="WhatsApp (Opcional)">
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <input type="password" id="password" class="form-control" placeholder="Senha">
            </div>
          </div>

          <div class="col-sm-12 col-md-6">
            <div class="form-group">
              <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmar Senha">
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center my-3">
            <h2>Localização</h2>
            <p>Insira abaixo os dados de endereço.</p>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="text" id="zipcode" class="form-control" placeholder="CEP">
            </div>
          </div>

          <div class="col-sm-12 col-md-8">
            <div class="form-group">
              <input type="text" id="address" class="form-control" placeholder="Logradouro">
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="number" id="Número " class="form-control" placeholder="Número">
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="text" id="complement" class="form-control" placeholder="Complemento">
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <input type="text" id="district" class="form-control" placeholder="Bairro">
            </div>
          </div>

          <div class="col-sm-12 col-md-4">
            <div class="form-group">
              <select id="state" class="form-control" required>
                <option disabled selected>Estado</option>
                <option value="AC">Acre</option>
                <option value="AL">Alagoas</option>
                <option value="AP">Amapá</option>
                <option value="AM">Amazonas</option>
                <option value="BA">Bahia</option>
                <option value="CE">Ceará</option>
                <option value="DF">Distrito Federal</option>
                <option value="ES">Espírito Santo</option>
                <option value="GO">Goiás</option>
                <option value="MA">Maranhão</option>
                <option value="MT">Mato Grosso</option>
                <option value="MS">Mato Grosso do Sul</option>
                <option value="MG">Minas Gerais</option>
                <option value="PA">Pará</option>
                <option value="PB">Paraíba</option>
                <option value="PR">Paraná</option>
                <option value="PE">Pernambuco</option>
                <option value="PI">Piauí</option>
                <option value="RJ">Rio de Janeiro</option>
                <option value="RN">Rio Grande do Norte</option>
                <option value="RS">Rio Grande do Sul</option>
                <option value="RO">Rondônia</option>
                <option value="RR">Roraima</option>
                <option value="SC">Santa Catarina</option>
                <option value="SP">São Paulo</option>
                <option value="SE">Sergipe</option>
                <option value="TO">Tocantins</option>
              </select>
            </div>
          </div>

          <div class="col-sm-12 col-md-8">
            <div class="form-group">
              <select id="city" class="form-control" required>
                <option disabled selected>Cidade</option>
                <option>Cidade 1</option>
                <option>Cidade 2</option>
              </select>
            </div>
          </div>
        </div>

        <div class="row">
          <div class="col-12 text-center my-3">
            <h2>Área de Atendimento</h2>
            <p>Insira abaixo a faixa de CEP atendida.</p>
          </div>

          <div class="col-sm-12">
            <div class="form-group">
              <input type="text" id="deliverZone" class="form-control" placeholder="Faixa de CEP" required>
            </div>
          </div>
        </div>

        <div class="row mt-3">
          <div class="col-sm-12 col-md-6">
            <button class="btn btn-solid btn-orange2"><i class="far fa-list-alt"></i> Orçamentos</button>
            <button class="btn btn-solid btn-orange1"><i class="far fa-trash-alt"></i> Excluir</button>
          </div>
          <div class="col-sm-12 col-md-6 text-right">
            <button class="btn btn-solid btn-blue1"><i class="far fa-save"></i> Salvar</button>
          </div>
        </div>
      </div>

      </div>
    </form>
  </section>
</main>

<%- include('../partials/footer') -%>