<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
  <section class="hero">
    <section class="titles">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ÁREA DO CLIENTE</h1>
            <h2>Consulte seus orçamentos e edite os dados de sua conta</h2>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="admin-container admin-welcome">
    <form class="needs-validation" novalidate>
      <div class="container card">
        
        <div class="row">
          <div class="col-12 text-center">
            <h2>Bem-vindo ao Painel Administrativo</h2>
            <p class="no-margin-bottom">Escolha no menu de navegação a informação desejada.</p>
          </div>
        </div>

      </div>
    </form>
  </section>
</main>

<%- include('../partials/footer') -%>