<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
  <section class="hero">
    <section class="titles">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>ÁREA DO CLIENTE</h1>
            <h2>Escolha abaixo qual informção deseja consultar ou editar.</h2>
          </div>
        </div>
      </div>
    </section>
  </section>

  <section class="admin-container admin-list-supplier">
    <form class="needs-validation" novalidate>
      <div class="container card">
        
        <div class="row">
          <div class="col-12 text-center mb-3">
            <h2>Lista de Fornecedores</h2>
            <p>Insira abaixo os dados do novo forncedor.</p>
            <button class="btn btn-solid btn-blue1 my-3"><i class="far fa-save"></i> Novo Fornecedor</button>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
            <table class="table table-bordered">
              <thead>
                <tr>
                  <th scope="col">ID</th>
                  <th scope="col">Nome</th>
                  <th scope="col">Plano</th>
                  <th scope="col">Expiração</th>
                  <th scope="col">Ações</th>
                  <th scope="col">Status</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th>1</th>
                  <td>Heja</td>
                  <td>Porca</td>
                  <td>24/05/2022</td>
                  <td class="table-actions">
                    <a href="#" title="Orçamentos"><i class="far fa-file-alt color-blue1"></i></a>
                    <a href="#" title="Editar"><i class="far fa-edit color-orange2"></i></a>
                    <a href="#" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                  </td>
                  <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="status1" checked>
                      <label class="custom-control-label" for="status1"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">2</th>
                  <td>Hoja</td>
                  <td>Parafuso</td>
                  <td>24/05/2022</td>
                  <td class="table-actions">
                    <a href="#" title="Orçamentos"><i class="far fa-file-alt color-blue1"></i></a>
                    <a href="#" title="Editar"><i class="far fa-edit color-orange2"></i></a>
                    <a href="#" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                  </td>
                  <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="status2">
                      <label class="custom-control-label" for="status2"></label>
                    </div>
                  </td>
                </tr>
                <tr>
                  <th scope="row">3</th>
                  <td>Haja</td>
                  <td>Porca e Parafuso</td>
                  <td>24/05/2022</td>
                  <td class="table-actions">
                    <a href="#" title="Orçamentos"><i class="far fa-file-alt color-blue1"></i></a>
                    <a href="#" title="Editar"><i class="far fa-edit color-orange2"></i></a>
                    <a href="#" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                  </td>
                  <td>
                    <div class="custom-control custom-switch">
                      <input type="checkbox" class="custom-control-input" id="status3" checked>
                      <label class="custom-control-label" for="status3"></label>
                    </div>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </form>
  </section>
</main>

<%- include('../partials/footer') -%>