<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
    <section class="hero">
      <section class="titles">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>ÁREA DO CLIENTE</h1>
              <h2>Escolha abaixo qual informação deseja consultar ou editar.</h2>
            </div>
          </div>
        </div>
      </section>
  
      <%- include('../partials/admin/header-admin') -%>

    </section>

    <section class="admin-container admin-list-client">
      <form class="needs-validation" novalidate>
        <div class="container card">
          
          <div class="row">
            <div class="col-12 text-center mb-3">
              <h2>Lista de Orçamentos</h2>
            </div>
          </div>
          
          <div class="row">
            <div class="col-sm-12 col-md-3">
              <div class="form-group">
                <select name="chooseBranch" class="form-control" required>
                  <option disabled selected>Ramo</option>
                  <option value="usinagem">Usinagem</option>
                  <option value="micro-usinagem">Micro usinagem</option>
                </select>
              </div> 
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="form-group">
                <input type="name" name="name" class="form-control" placeholder="Cliente">
              </div> 
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="form-group">
                <input type="date" id="date" class="form-control" placeholder="Data">
              </div> 
            </div>

            <div class="col-sm-12 col-md-3">
              <div class="form-group">
                <input type="email" name="email" class="form-control" placeholder="Email">
              </div> 
            </div>
          </div>
          
          <div class="collapse-forms">
            <div id="filters" class="row collapse">
              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <select name="chooseMaterial" class="form-control" required>
                    <option disabled selected>Matéria Prima</option>
                    <option value="material-de-usinagem-1">Material de usinagem 1</option>
                    <option value="material-de-usinagem-2">Material de usinagem 2</option>
                    <option value="material-de-usinagem-3">Material de usinagem 3</option>
                    <option value="material-de-usinagem-4">Material de usinagem 4</option>
                  </select>
                </div>
              </div>

              <div class="col-sm-12 col-md-3">
                <div class="form-group">
                  <input type="tel" name="phone" maxlength="16" class="form-control" placeholder="Telefone (com DDD)">
                </div>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="form-group">
                <a class="btn btn-solid btn-orange1 my-3" data-toggle="collapse" href="#filters" role="button" aria-expanded="false" aria-controls="filters"><i class="fas fa-plus"></i> Filtros</a>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-sm-12">
              <table class="table table-bordered table-responsive-sm">
                <thead>
                  <tr>
                    <th scope="col">ID</th>
                    <th scope="col">Cliente</th>
                    <th scope="col">E-mail</th>
                    <th scope="col">Data</th>
                    <th scope="col">Ações</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <th>1</th>
                    <td>Jojo Toddynho</td>
                    <td>Joujo@toddy.com</td>
                    <td>30/05/1678</td>
                    <td class="table-actions">
                      <a href="/admin/orcamentoDetalhado" title="Detalhes"><i class="fas fa-info-circle color-orange2"></i></a>
                      <a href="#" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                    </td>
                  </tr>
                  <tr>
                    <th scope="row">2</th>
                    <td>Sandra Lee</td>
                    <td>pimple@popper.com</td>
                    <td>30/05/1500</td>
                    <td class="table-actions">
                      <a href="/admin/orcamentoDetalhado" title="Detalhes"><i class="fas fa-info-circle color-orange2"></i></a>
                      <a href="#" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                    </td>
                  </tr>                           
                  <tr>
                    <th scope="row">3</th>
                    <td>Moda Foca</td>
                    <td>jones@bol.com.br</td>
                    <td>30/05/1997</td>
                    <td class="table-actions">
                      <a href="/admin/orcamentoDetalhado" title="Detalhes"><i class="fas fa-info-circle color-orange2"></i></a>
                      <a href="#" title="Excluir"><i class="far fa-trash-alt color-orange1"></i></a>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
  
        <div class="container mb-3">
          <div class="row">
            <div class="col-sm-12">
              <nav class="pagination-container">
                <ul class="pagination">
                  <li class="page-item disabled">
                    <a class="page-link" href="#" tabindex="-1" aria-disabled="true">Anterior</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item active" aria-current="page">
                    <a class="page-link" href="#">2</a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#">Próxima</a>
                  </li>
                </ul>
              </nav>
            </div>
          </div>
        </div>
  
      </form>
    </section>
  </main>

<%- include('../partials/footer') -%>