<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
    <section class="hero">
      <section class="titles">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>ÁREA DO CLIENTE</h1>
              <h2>Escolha abaixo qual informação deseja consultar ou editar.</h2>
            </div>
          </div>
        </div>
      </section>
  
      <%- include('../partials/admin/header-admin') -%>

    </section>

    <section class="quote-form">
      <div class="container card">
        <div class="row">
          <div class="col-12 text-center">
            <h2>Detalhes do Orçamento: ID</h2>
          </div>  
      </div>
    </section>

<%- include('../partials/footer') -%>