<%- include('../partials/header') -%>

<main class="admin-dashboard full-height">
    <section class="hero">
      <section class="titles">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>ÁREA DO CLIENTE</h1>
              <h2>Escolha abaixo qual informação deseja consultar ou editar.</h2>
            </div>
          </div>
        </div>
      </section>
  
      <%- include('../partials/admin/header-admin') -%>

    </section>

    <section class="quote-form">
      <div class="container card">
        <div class="row">
          <div class="col-12 text-center mb-5">
            <h2>Detalhes do Orçamento: ID</h2>
          </div>
        </div>  

        <div class="row budget-margin">
          <div class="col-12">
            <h3 class="color-orange1">Dados do Produto</h3>
          </div>
        </div> 

        <div class="row">
          <div class="col-sm-12 col-md-3 col-lg-3">
            <p><strong class="color-blue2">Quantidade:</strong> 1000</p>
          </div>

          <div class="col-sm-12 col-md-5 col-lg-4">
            <p><strong class="color-blue2">Prazo para entrega:</strong> 24/05/2022</p>
          </div>

          <div class="col-sm-12 col-md-4 col-lg-4">
            <p><strong class="color-blue2">Matéria prima:</strong> Chumbo</p>
          </div>
        </div> 

        <div class="row">
          <div class="col-12">
            <p><strong class="color-blue2">Mais detalhes:</strong> Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis eleifend mauris ut lorem volutpat tristique. Duis tempus ipsum vel feugiat placerat. Sed maximus ac dui tincidunt dignissim. Donec tempus facilisis ex ut sodales. Pellentesque dui nibh, lacinia interdum magna sit amet, molestie lobortis velit. Sed vel sollicitudin est, in accumsan justo. Pellentesque sit amet iaculis lorem. </p>
          </div>
        </div>

        <div class="row divider">
          <div class="col-12">
            <hr>
          </div>
        </div>

        <div class="row budget-margin">
          <div class="col-12">
            <h3 class="color-orange1">Dados do Cliente</h3>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-6 col-lg-5">
            <p><strong class="color-blue2">Nome do Responsável:</strong> Bond James do Bond</p>
          </div>

          <div class="col-sm-12 col-md-6 col-lg-5">
            <p><strong class="color-blue2">E-mail:</strong> james@bond.com</p>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-5 col-lg-4">
            <p><strong class="color-blue2">Telefone:</strong> 19 96666-5555</p>
          </div>

          <div class="col-sm-12 col-md-5 col-lg-4">
            <p><strong class="color-blue2">WhatsApp:</strong> 19 99999-6666</p>
          </div>
        </div>

        <div class="row divider">
          <div class="col-12">
            <hr>
          </div>
        </div>

        <div class="row budget-margin">
          <div class="col-12">
            <h3 class="color-orange1">Fornecedores Contatados</h3>
          </div>
        </div>
        
        <div class="row">
          <div class="col-12">
            <p><strong class="color-blue2">Nome do Fornecedor, Nome do Fornecedor, Nome do Fornecedor, Nome do Fornecedor, Nome do Fornecedor.</strong></p>
          </div>
        </div>

        <div class="row divider">
          <div class="col-12">
            <hr>
          </div>
        </div>

        <div class="row">
          <div class="col-12 d-flex justify-content-between">
            <a href="/admin/listarOrcamentos" class="btn btn-solid btn-orange1"><i class="fas fa-arrow-left"></i> Voltar</a>
            <button class="btn btn-solid btn-blue1"><i class="far fa-save"></i> Salvar</button>
          </div>
        </div>

      </div>

    </section>

<%- include('../partials/footer') -%>