<footer>
  <p>Todos Direitos Reservados ® A Porca e o Parafuso 2021</p>
</footer>

<!-- Bootstrap Core JS -->
<script src="/js/jquery-3.6.0.min.js"></script>
<script src="/js/bootstrap.bundle.min.js"></script>

<!-- Custom/Plugins JS -->
<script src="/js/form-validation.js"></script>
<script src="/js/jquery.mask.js"></script>
<script src="/js/custom-masks.js"></script>

<!-- tooltips -->
<script>
  $(function () {
    $('[data-toggle="tooltip"]').tooltip()
  })
</script>

<!-- Custom Select-->
<script src="/js/custom-select.js"></script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/js/bootstrap.bundle.js">
</script>
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.13.18/js/bootstrap-select.min.js">
</script>

</body>

</html>