<%- include('partials/header') -%>
<main>
    <section class="hero">
        <section class="titles">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>ANUNCIE</h1>
                <h2>Anuncie na melhor plataforma do <span>setor de usinagem</span> e aumente suas vendas.</h2>
              </div>
            </div>
          </div>
        </section>

        <section class="quote-form">
          <div class="container card">
            <div class="row">
              <div class="col-12">
                <h2>Anuncie</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-4 plans-section">
                <div>
                  <img src="../public/img/parafuso.png" width="50px" height="50px" alt="">
                  <h3>Parafuso</h3>
                </div>
              </div>
              <div class="col-4 plans-section">
                <div>
                  <img src="../public/img/porca.png" width="50px" height="50px" alt="">
                  <h3>Porca</h3>
                </div>
              </div>
              <div class="col-4 plans-section">
                <div>
                  <img src="../public/img/porca&parafuso.png" width="50px" height="50px" alt="">
                  <h3>Porca e Parafuso</h3>
                </div>
              </div>
            </div>
           
            <div class="row divider">
              <div class="col-12">
                <hr>
              </div>
            </div>  
          </div>
        </section>
</main>

<%- include('partials/footer') -%>