<%- include('partials/header') -%>
<main>
    <section class="hero">
      <section class="titles">
        <div class="container">
          <div class="row">
            <div class="col-12">
              <h1>ANUNCIE</h1>
              <h2>Faça parte da melhor plataforma do <span>setor de usinagem</span> e aumente suas vendas.</h2>
            </div>
          </div>
        </div>
      </section>

      <section class="announce-plans">
        <div class="container card">
          <div class="row">
            <div class="col-12">
              <h2>Nossos Planos</h2>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <div class="plan-item">
                <div class="img-box">
                  <img src="img/parafuso.png" alt="Parafuso">
                </div>
                <h3>Parafuso</h3>
              </div>
            </div>

            <div class="col-4">
              <div class="plan-item">
                <div class="img-box">
                  <img src="img/porca.png" alt="Porca">
                </div>
                <h3>Porca</h3>
              </div>
            </div>

            <div class="col-4">
              <div class="plan-item">
                <div class="img-box">
                  <img src="img/porca&parafuso.png" alt="Parafuso">
                </div>
                <h3>Porca e Parafuso</h3>
              </div>
            </div>
          </div>
           
          <div class="row divider">
            <div class="col-12">
              <hr>
            </div>
          </div>
            
          <div class="row">
            <div class="col-12">
              <div class="announce-benefits">
                <h3>Orçamentos ilimitados</h3>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Mais informações"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <i class="fas fa-check-circle"></i>
            </div>
          
            <div class="col-4">
              <i class="fas fa-check-circle"></i>
            </div>
          
            <div class="col-4">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>

          <div class="row divider">
            <div class="col-12">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="announce-benefits">
                <h3>Listagem na página de parceiros</h3>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Mais informações"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <i class="far fa-times-circle"></i>
            </div>

            <div class="col-4">
              <i class="fas fa-check-circle"></i>
            </div>

            <div class="col-4">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>

          <div class="row divider">
            <div class="col-12">
              <hr>
            </div>
          </div>

          <div class="row">
            <div class="col-12">
              <div class="announce-benefits">
                <h3>Publicidade na home</h3>
                <i class="far fa-question-circle" data-toggle="tooltip" data-placement="top" title="Mais informações"></i>
              </div>
            </div>
          </div>

          <div class="row">
            <div class="col-4">
              <i class="far fa-times-circle"></i>
            </div>

            <div class="col-4">
              <i class="far fa-times-circle"></i>
            </div>

            <div class="col-4">
              <i class="fas fa-check-circle"></i>
            </div>
          </div>

          <div class="row divider">
            <div class="col-12">
              <hr>
            </div>
          </div>

          <section class="plan-prices">
            <div class="row">
              <div class="col-4">
                <h3>12x <span>R$50</span></h3>
                <div class="total-price">á vista <span>R$550</span></div>
              </div>

              <div class="col-4">
                <h3>12x <span>R$60</span></h3>
                <div class="total-price">á vista <span>R$680</span></div>
              </div>

              <div class="col-4">
                <h3>12x <span>R$80</span></h3>
                <div class="total-price">á vista <span>R$800</span></div>
              </div>
            </div>
          </section>
            
          <section class="plan-btn">
            <div class="row">
              <div class="col-4">
                <a class="btn btn-solid btn-orange1 subscribe" href="/cadastro-fornecedor">Assinar</a>
              </div>

              <div class="col-4">
                <a class="btn btn-solid btn-orange1 subscribe" href="/cadastro-fornecedor">Assinar</a>
              </div>

              <div class="col-4">
                <a class="btn btn-solid btn-orange1 subscribe" href="/cadastro-fornecedor">Assinar</a>
              </div>
            </div>
          </section>
        
        </div>
      </section>

      <div class="container know-how-cta">
        <p>Ainda não conhece nossa ferramenta? Clique aqui para saber mais!</p>
        <a href="#how-it-works"><i class="fas fa-chevron-down"></i></a>
      </div>
    </section>
  
    <section id="how-it-works">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>COMO FUNCIONA A NOSSA FERRAMENTA?</h1>
          </div>
        </div>
        
        <div class="row how-it-works-step">
          <div class="col-md-12 col-lg-auto image margin-right">
            <img src="/img/home-step-1.png" alt="Como Funciona - Etapa 1">
          </div>
          
          <div class="col-md-12 col-lg text">
            <h2>Precisa de projetos personalizados no setor de usinagem?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh rhoncus, pulvinar magna imperdiet, condimentum ligula. Proin et urna convallis, maximus ante quis, tincidunt felis.</p>
          </div>
        </div>
  
        <div class="row how-it-works-step">
          <div class="col-sm-12 col-md text text-lg-right">
            <h2>Preencha os dados e envie seu projeto para diversas empresas de uma vez</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh rhoncus, pulvinar magna imperdiet, condimentum ligula. Proin et urna convallis, maximus ante quis, tincidunt felis.</p>
          </div>
  
          <div class="col-md-12 col-lg-auto image margin-left">
            <img src="/img/home-step-2.png" alt="Como Funciona - Etapa 1">
          </div>
        </div>
  
        <div class="row how-it-works-step">
          <div class="col-md-12 col-lg-auto image margin-right">
            <img src="/img/home-step-3.png" alt="Como Funciona - Etapa 1">
          </div>
  
          <div class="col-md-12 col-lg text">
            <h2>Receba muitos orçamentos e escolha o melhor para você ou sua empresa!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh rhoncus, pulvinar magna imperdiet, condimentum ligula. Proin et urna convallis, maximus ante quis, tincidunt felis.</p>
          </div>
        </div>
      </div>
    </section>
</main>

<%- include('partials/footer') -%>