<%- include('partials/header') -%>
<main>
    <section class="hero">
        <section class="titles">
          <div class="container">
            <div class="row">
              <div class="col-12">
                <h1>ANUNCIE</h1>
                <h2>Anuncie na melhor plataforma do <span>setor de usinagem</span> e aumente suas vendas.</h2>
              </div>
            </div>
          </div>
        </section>

        <section class="announce-plans">
          <div class="container card">
            <div class="row">
              <div class="col-12">
                <h2>Nossos Planos</h2>
              </div>
            </div>

            <div class="row">
              <div class="col-4">
                <div class="plan-item">
                  // mudar para icon 
                  <img src="../public/img/parafuso.png" width="50px" height="50px" alt="Parafuso">
                  <h3>Parafuso</h3>
                </div>
              </div>
              <div class="col-4">
                <div class="plan-item">
                  // mudar para icon
                  <img src="../public/img/porca.png" width="50px" height="50px" alt="Porca">
                  <h3>Porca</h3>
                </div>
              </div>
              <div class="col-4">
                <div class="plan-item">
                  // mudar para icon 
                  <img src="../public/img/porca&parafuso.png" width="50px" height="50px" alt="Parafuso">
                  <h3>Porca e Parafuso</h3>
                </div>
              </div>
            </div>
           
            <div class="row divider">
              <div class="col-12">
                <hr>
              </div>
            </div>
            
            <div class="row">
              <div class="col-12">
                <h3>Orçamentos ilimitados</h3>
              </div>
            </div>

            <div class="row">
               <div class="col-4">
                 // incluir o item de certinho
               </div>
               <div class="col-4">
                // incluir o item de certinho
              </div>
              <div class="col-4">
                // incluir o item de certinho
              </div>
            </div>

            <div class="row divider">
              <div class="col-12">
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h3>Listagem na página de parceiros</h3>
              </div>
            </div>

            <div class="row">
               <div class="col-4">
                 // incluir o item de errado
               </div>
               <div class="col-4">
                // incluir o item de certinho
              </div>
              <div class="col-4">
                // incluir o item de certinho
              </div>
            </div>

            <div class="row divider">
              <div class="col-12">
                <hr>
              </div>
            </div>

            <div class="row">
              <div class="col-12">
                <h3>Listagem na página de parceiros</h3>
              </div>
            </div>

            <div class="row">
               <div class="col-4">
                 // incluir o item de errado
               </div>
               <div class="col-4">
                // incluir o item de errado
              </div>
              <div class="col-4">
                // incluir o item de certinho
              </div>
            </div>

            <div class="row divider">
              <div class="col-12">
                <hr>
              </div>
            </div>

            // caixa precos grande x3 12x com br pra pular linha rs50
            // caixa preco pequenos a vista com br rs 500
            // btn assinar 
            // fim da caixa
            // repetir 3 caixas pq fiz tudo mobile hehe 

          </div>
        </section>
  
    <section id="how-it-works">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h1>COMO FUNCIONA A NOSSA FERRAMENTA?</h1>
          </div>
        </div>
        
        <div class="row how-it-works-step">
          <div class="col-md-12 col-lg-auto image margin-right">
            <img src="/img/home-step-1.png" alt="Como Funciona - Etapa 1">
          </div>
          
          <div class="col-md-12 col-lg text">
            <h2>Precisa de projetos personalizados no setor de usinagem?</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh rhoncus, pulvinar magna imperdiet, condimentum ligula. Proin et urna convallis, maximus ante quis, tincidunt felis.</p>
          </div>
        </div>
  
        <div class="row how-it-works-step">
          <div class="col-sm-12 col-md text text-lg-right">
            <h2>Preencha os dados e envie seu projeto para diversas empresas de uma vez</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh rhoncus, pulvinar magna imperdiet, condimentum ligula. Proin et urna convallis, maximus ante quis, tincidunt felis.</p>
          </div>
  
          <div class="col-md-12 col-lg-auto image margin-left">
            <img src="/img/home-step-2.png" alt="Como Funciona - Etapa 1">
          </div>
        </div>
  
        <div class="row how-it-works-step">
          <div class="col-md-12 col-lg-auto image margin-right">
            <img src="/img/home-step-3.png" alt="Como Funciona - Etapa 1">
          </div>
  
          <div class="col-md-12 col-lg text">
            <h2>Receba muitos orçamentos e escolha o melhor para você ou sua empresa!</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nec nibh rhoncus, pulvinar magna imperdiet, condimentum ligula. Proin et urna convallis, maximus ante quis, tincidunt felis.</p>
          </div>
        </div>
      </div>
    </section>

</main>

<%- include('partials/footer') -%>