<%- include('partials/header') -%>

<main>
    <section class="hero">
        <section class="titles">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <h1>CADASTRO</h1>
                    <h2>Use o seu e-mail e crie uma senha para se cadastrar</h2>
                </div>
                </div>
            </div>
        </section>

        <section class="login-form register">
            <form class="needs-validation" action="/cadastro-fornecedor" method="POST">
                <div class="container card">

                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>Dados do Plano</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <select id="planSelect" name="plan" class="form-control" required>
                                    <option disabled selected>Escolha um Plano</option>
                                    <option value="1">Parafuso</option>
                                    <option value="2">Porca</option>
                                    <option value="3">Porca e Parafuso</option>
                                </select>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <select id="branchSelect" name="branch" class="form-control multi-select" title="Ramo de Atuação" data-selected-text-format="count > 3" data-size="5" data-actions-box="true"  data-dropup-auto="false" multiple required>
                                    <option value="1">Usinagem</option>
                                    <option value="2">Micro Usinagem</option>
                                </select>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" id="name" name="name" class=form-control placeholder="Nome da Empresa" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" id="document" name="document" class=form-control placeholder="CNPJ" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group">
                                <input type="email" id="email" name="email" class=form-control placeholder="E-mail" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="tel" id="phone" name="phone" class=form-control placeholder="Telefone (Opcional)">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="tel" id="whatsapp" name="whatsapp" class=form-control placeholder="Whatsapp (Opcional)">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="password" id="password" name="password" class=form-control placeholder="Senha" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>                        
                        </div>

                        <!-- <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                              <input type="password" id="confirmPassword" name="confirmPassword" class="form-control" placeholder="Confirmar Senha" required>
                              <div class="invalid-feedback confirm-password">A senha não é igual</div>
                            </div>
                        </div> -->
                    </div>

                    <div class="row">
                        <div class="col-12 text-center mt-3">
                            <h2>Localização</h2>
                        </div>

                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="zipcode" name="zipcode" class="form-control" placeholder="CEP" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
            
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="address" name="address" class="form-control" placeholder="Logradouro" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
            
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <input type="number" id="Número" name="number" class="form-control" placeholder="Número" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
            
                        <div class="col-sm-12 col-md-8">
                            <div class="form-group">
                                <input type="text" id="complement" name="complement" class="form-control" placeholder="Complemento">
                            </div>
                        </div>
            
                        <div class="col-sm-12">
                            <div class="form-group">
                                <input type="text" id="district" name="district" class="form-control" placeholder="Bairro" required>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
            
                        <div class="col-sm-12 col-md-4">
                            <div class="form-group">
                                <select id="state" name="state" class="form-control" required>
                                    <option disabled selected>Estado</option>
                                    <option value="AC">AC</option>
                                    <option value="AL">AL</option>
                                    <option value="AP">AP</option>
                                    <option value="AM">AM</option>
                                    <option value="BA">BA</option>
                                    <option value="CE">CE</option>
                                    <option value="DF">DF</option>
                                    <option value="ES">ES</option>
                                    <option value="GO">GO</option>
                                    <option value="MA">MA</option>
                                    <option value="MT">MT</option>
                                    <option value="MS">MS</option>
                                    <option value="MG">MG</option>
                                    <option value="PA">PA</option>
                                    <option value="PB">PB</option>
                                    <option value="PR">PR</option>
                                    <option value="PE">PE</option>
                                    <option value="PI">PI</option>
                                    <option value="RJ">RJ</option>
                                    <option value="RN">RN</option>
                                    <option value="RS">RS</option>
                                    <option value="RO">RO</option>
                                    <option value="RR">RR</option>
                                    <option value="SC">SC</option>
                                    <option value="SP">SP</option>
                                    <option value="SE">SE</option>
                                    <option value="TO">TO</option>
                                </select>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
            
                        <div class="col-sm-12 col-md-8">
                            <div class="form-group">
                                <input type="text" id="city" name="city" class="form-control" placeholder="Cidade">
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12 mt-3">
                            <h2 class="text-center">Área de Atendimento</h2>
                            <p class="text-center">Selecione abaixo os estados que sua empresa efeturá a entrega </p>
                        </div>
                       
                        <div class="col-sm-12">
                            <div class="form-group">
                                <select id="stateArea" name="stateArea" class="form-control multi-select" title="Estados que atende" data-selected-text-format="count > 3" data-size="5" data-actions-box="true"  data-dropup-auto="false" multiple required>
                                    <option value="1">AC</option>
                                    <option value="2">AL</option>
                                    <option value="3">AP</option>
                                    <option value="4">AM</option>
                                    <option value="5">BA</option>
                                    <option value="6">CE</option>
                                    <option value="7">DF</option>
                                    <option value="8">ES</option>
                                    <option value="9">GO</option>
                                    <option value="10">MA</option>
                                    <option value="11">MT</option>
                                    <option value="12">MS</option>
                                    <option value="13">MG</option>
                                    <option value="14">PA</option>
                                    <option value="15">PB</option>
                                    <option value="16">PR</option>
                                    <option value="17">PE</option>
                                    <option value="18">PI</option>
                                    <option value="19">RJ</option>
                                    <option value="20">RN</option>
                                    <option value="21">RS</option>
                                    <option value="22">RO</option>
                                    <option value="23">RR</option>
                                    <option value="24">SC</option>
                                    <option value="25">SP</option>
                                    <option value="26">SE</option>
                                    <option value="27">TO</option>
                                </select>
                                <div class="invalid-feedback">Campo obrigatório</div>
                            </div>
                        </div>   
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button class="btn btn-solid btn-orange1"><i class="fas fa-user-check"></i> Cadastrar</button>
                            </div>
                            <div class="divider">
                                <hr>
                            </div>
                            <div>
                                <p class="no-margin-bottom">Já tem login? <a href="/login">Entrar</a></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </form>

        </section>
    </section>
</main>

<%- include('partials/footer') -%>