<%- include('partials/header') -%>

<main>
    <section class="hero">
        <section class="titles">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <h1>CADASTRO</h1>
                    <h2>Use o seu e-mail e crie uma senha para se cadastrar</h2>
                </div>
                </div>
            </div>
        </section>

        <section class="login-form register">
            <form class="needs-validation" novalidate>
                <div class="container card">

                    <div class="row">
                        <div class="col-12 text-center">
                            <h2>Dados Pessoais</h2>
                        </div>
                    </div>

                    <div class="row">

                        <div class="col-12">
                            <div class="form-group">
                                <input type="text" id="name" class=form-control placeholder="Nome completo" required>
                            </div>
                        </div>


                        <div class="col-12">
                            <div class="form-group">
                                <input type="email" id="email" class=form-control placeholder="E-mail" required>
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="tel" id="telefone" class=form-control placeholder="Telefone (Opcional)">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="tel" id="whatsapp" class=form-control placeholder="Whatsapp (Opcional)">
                            </div>
                        </div>

                        <div class="col-12 col-md-6">
                            <div class="form-group">
                                <input type="password" id="password" class=form-control placeholder="Senha" required>
                            </div>                        
                        </div>

                        <div class="col-sm-12 col-md-6">
                            <div class="form-group">
                              <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmar Senha" required>
                            </div>
                        </div>

                    </div>

                    <div class="row">
                        <div class="col-12 text-center mt-3">
                            <h2>Localização</h2>
                        </div>

                        <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" id="zipcode" class="form-control" placeholder="CEP">
                        </div>
                        </div>
            
                        <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" id="address" class="form-control" placeholder="Logradouro">
                        </div>
                        </div>
            
                        <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <input type="number" id="Número " class="form-control" placeholder="Número">
                        </div>
                        </div>
            
                        <div class="col-sm-12 col-md-8">
                        <div class="form-group">
                            <input type="text" id="complement" class="form-control" placeholder="Complemento">
                        </div>
                        </div>
            
                        <div class="col-sm-12">
                        <div class="form-group">
                            <input type="text" id="district" class="form-control" placeholder="Bairro">
                        </div>
                        </div>
            
                        <div class="col-sm-12 col-md-4">
                        <div class="form-group">
                            <select id="state" class="form-control" required>
                            <option disabled selected>Estado</option>
                            <option value="AC">Acre</option>
                            <option value="AL">Alagoas</option>
                            <option value="AP">Amapá</option>
                            <option value="AM">Amazonas</option>
                            <option value="BA">Bahia</option>
                            <option value="CE">Ceará</option>
                            <option value="DF">Distrito Federal</option>
                            <option value="ES">Espírito Santo</option>
                            <option value="GO">Goiás</option>
                            <option value="MA">Maranhão</option>
                            <option value="MT">Mato Grosso</option>
                            <option value="MS">Mato Grosso do Sul</option>
                            <option value="MG">Minas Gerais</option>
                            <option value="PA">Pará</option>
                            <option value="PB">Paraíba</option>
                            <option value="PR">Paraná</option>
                            <option value="PE">Pernambuco</option>
                            <option value="PI">Piauí</option>
                            <option value="RJ">Rio de Janeiro</option>
                            <option value="RN">Rio Grande do Norte</option>
                            <option value="RS">Rio Grande do Sul</option>
                            <option value="RO">Rondônia</option>
                            <option value="RR">Roraima</option>
                            <option value="SC">Santa Catarina</option>
                            <option value="SP">São Paulo</option>
                            <option value="SE">Sergipe</option>
                            <option value="TO">Tocantins</option>
                            </select>
                        </div>
                        </div>
            
                        <div class="col-sm-12 col-md-8">
                            <div class="form-group">
                                <input type="text" id="city" class="form-control" placeholder="Cidade">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <button class="btn btn-solid btn-orange1"><i class="fas fa-user-check"></i> Cadastrar</button>
                            </div>
                            <div class="divider">
                                <hr>
                            </div>
                            <div>
                                <p class="no-margin-bottom">Já tem login? <a href="/login">Entrar</a></p>
                            </div>
                        </div>
                        
                    </div>
                </div>
                
            </form>

        </section>
    </section>
</main>
<%- include('partials/footer') -%>