<%- include('partials/header') -%>

<main>
    <section class="hero full-height-hero">
        <section class="titles">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <h1>ESQUECI MINHA SENHA</h1>
                    <h2>Insira o e-mail da sua conta para recuperar a senha</h2>
                </div>
                </div>
            </div>
        </section>

        <section class="login-form">
            <form class="needs-validation" novalidate>
                <div class="container card">

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="email" id="email" class=form-control placeholder="E-mail" required>
                            </div>
                        </div>                        
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group no-margin-bottom">
                                <button class="btn btn-solid btn-orange1"><i class="fas fa-envelope"></i> Enviar</button>
                            </div>                          
                        </div>
                    </div>
                </div>
                
            </form>

        </section>
    </section>
</main>
<%- include('partials/footer') -%>