<%- include('partials/header') -%>

    <main>
        <section class="hero full-height">
            <section class="titles">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h1>CONHEÇA NOSSOS PARCEIROS</h1>
                            <h2>Essas são todas as empresas que irão receber o seu orçamento</h2>
                            <h2>A Porca e o Parafuso agradece a parceria de distintas empresas do <span
                                    STYLE="font-weight:bold"> setor de usinagem </span>, seja tambem um parceiro.</h2>
                        </div>
                    </div>
                </div>
            </section>

            <section class="partners-form>
                <form class="needs-validation" novalidate>
                    <div class="container card">
                        <div class="row">
                            <div class="col-12">
                                <div class="input-group rounded">
                                    <input type="search" class="form-control rounded" placeholder="Busca" aria-label="Search"
                                      aria-describedby="search-addon" />
                                    <span class="input-group-text border-0" id="search-addon">
                                      <i class="fas fa-search"></i>
                                    </span>
                                  </div>
                            </div>
                        </div>

                        <div class = row>
                            <div class="col-12">
                                <div class="form-group">
                                    <select id="disabledSelect" class="form-control" required>
                                        <option value="">Procure por Estado</option>
                                        <option value="AC">Acre</option>
                                        <option value="AL">Alagoas</option>
                                        <option value="AP">Amapá</option>
                                        <option value="AM">Amazonas</option>
                                        <option value="BA">Bahia</option>
                                        <option value="CE">Ceará</option>
                                        <option value="DF">Distrito Federal</option>
                                        <option value="ES">Espirito Santo</option>
                                        <option value="GO">Goiás</option>
                                        <option value="MA">Maranhão</option>
                                        <option value="MS">Mato Grosso do Sul</option>
                                        <option value="MT">Mato Grosso</option>
                                        <option value="MG">Minas Gerais</option>
                                        <option value="PA">Pará</option>
                                        <option value="PB">Paraíba</option>
                                        <option value="PR">Paraná</option>
                                        <option value="PE">Pernambuco</option>
                                        <option value="PI">Piauí</option>
                                        <option value="RJ">Rio de Janeiro</option>
                                        <option value="RN">Rio Grande do Norte</option>
                                        <option value="RS">Rio Grande do Sul</option>
                                        <option value="RO">Rondônia</option>
                                        <option value="RR">Roraima</option>
                                        <option value="SC">Santa Catarina</option>
                                        <option value="SP">São Paulo</option>
                                        <option value="SE">Sergipe</option>
                                        <option value="TO">Tocantins</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class = row>
                            <div class="col-12">
                                <div class="form-group">
                                    <select id="disabledSelect" class="form-control" required>
                                        <option value="">Qual é sua cidade</option>
                                        <option value="AC">Cidade 1</option>
                                        <option value="AL">Cidade 2</option>
                                        <option value="AP">Cidade 3</option>
                                        <option value="AM">Cidade 4</option>
                                    </select>
                                </div>
                            </div>
                        </div>
                        
                    </div>

                    
                </form>
            </section>
        </section>
    </main>
    <%- include('partials/footer') -%>