<%- include('partials/header') -%>

<main>
    <section class="hero full-height-hero">
        <section class="titles">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <h1>CADASTRO</h1>
                    <h2>Por favor, escolha qual o seu  perfil antes de efeturar nosso cadastro.</h2>
                </div>
                </div>
            </div>
        </section>

        <section class="profile">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 col-md-6">
                        <div class="container-fluid card">
                            <h2>Quero solicitar orçamentos</h2>
                            <img src="/img/profile-client.jpg" alt="Quero fazer orçamentos">
                            <p>Estou procurando usinagens que realizem projetos personalizados.</p>
                            <a href="/cadastro" class="btn btn-solid btn-orange1"><i class="far fa-user"></i> Cadastrar</a>
                        </div>
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div class="container-fluid card">
                            <h2>Sou uma Usinagem</h2>
                            <img src="/img/profile-company.jpg" alt="Quero receber orçamento">
                            <p>Sou uma usinagem e quero receber orçamento personalizados.</p>
                            <a href="/cadastro" class="btn btn-solid btn-blue1"><i class="fas fa-industry"></i> Cadastrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
    </section>
</main>
<%- include('partials/footer') -%>