<%- include('partials/header') -%>
<main>
    <section class="hero full-height-hero">
        <section class="titles">
            <div class="container">
                <div class="row">
                <div class="col-12">
                    <h1>RECUPERAR SENHA</h1>
                    <h2>Insira uma nova senha e confirme sua senha</h2>
                </div>
                </div>
            </div>
        </section>

        <section class="login-form">
            <form class="needs-validation" novalidate>
                <div class="container card">

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group">
                                <input type="password" id="password" class=form-control placeholder="Senha" required>
                            </div>                        
                        </div>

                        <div class="col-12">
                            <div class="form-group">
                              <input type="password" id="confirmPassword" class="form-control" placeholder="Confirmar Senha" required>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-12">
                            <div class="form-group no-margin-bottom">
                                <button class="btn btn-solid btn-orange1"><i class="fas fa-check"></i> Salvar</button>
                            </div>
                        </div> 
                    </div>

                </div>
                
            </form>

        </section>
    </section>
</main>
<%- include('partials/footer') -%>