<section class="navigation-admin">
    <div class="container card">
        <div class="row">
            <div class="col-12">
                <nav>
                    <div class="links-menu">
                      <a href="/admin/listarFornecedor" class="btn btn-clean btn-orange1">Fornecedores</a>
                      <a href="/admin/listarCliente" class="btn btn-clean btn-blue1">Clientes</a>
                      <a href="/admin/listarCategorias" class="btn btn-clean btn-blue1">Categorias</a>
                      <a href="/admin/listarOrcamentos" class="btn btn-clean btn-blue1">Orçamentos</a>
                      <a href="/admin/editarContaFornecedor" class="btn btn-clean btn-blue1">Meus Dados</a>
                      <a href="/admin/editarContaCliente" class="btn btn-clean btn-blue1">Meus Dados</a>
                    </div>
                    <div class="back-button">
                      <a href="/" class="btn btn-solid btn-orange1"><i class="fas fa-home"></i> Voltar</a>
                    </div>
                </nav>
            </div>
        </div>
    </div>
  </section>
</section>