<section id="modal-box">
    <div id="removeModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title" id="exampleModalLabel">Excluir Informação</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Tem certeza que deseja excluir?</p>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-solid btn-orange1 " data-dismiss="modal"><i class="fas fa-times"></i> Cancelar</a>
                    <a type="button" class="btn btn-solid btn-blue1"data-dismiss="modal"><i class="far fa-trash-alt"></i> Confirmar</a>
                </div>
            </div>
        </div>
    </div>
</section>